.App {
  text-align: center;
}
.top-banner {
  background-color: #000;
  display:flex;
  align-items: center;
  justify-content: center;
  background: contain;
  background-position: center 100%;
  max-width: 100%;
  width: auto;
  height: 250px;
}

.about-blurb {
  text-align: center;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
  position: fixed;
  top: 0;
  width: 100%;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}