body,
html {
  width: 100%;
  height: 100%;
  padding-top: 1.8%;
  margin: 0;
  background-color: #e6e6e6;
  font-family: arial;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.title-bar {
  text-align: center;
  color: #333333;
  font-size: 30px;
  padding-bottom: 10px;
}

.info-bar {
  text-align: center;
  color: #666;
  font-size: 15px;
  padding-bottom: 50px;
}

.info-bar a {
  color: #45b3e7;
  text-decoration: none;
}

.wrap {
  background-color: #ffffff;
  padding: 2%;
  width: 25%;
  min-width:350px;
  margin: 0 auto;
  box-shadow: 0 0 5px #ccc;
  border: 1px solid #fff;
}

input {
  width: 100%;
  margin-bottom: 10px;
  padding: 5%;
  border: 1px solid #efefef;
  font-size: 15px;
  transition: all .2s ease-in-out;
}

input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
  transition: all .2s ease-in-out;
}

input.submit {
  width: 100%;
  padding: 5%;
  border: 1px solid #ffffff;
  font-size: 15px;
  background-color: #110a0a;
  color: #fff;
  margin-top: 25px;
  transition: all .2s ease-in-out;
}

input.submit:hover {
  width: 100%;
  padding: 5%;
  border: 1px solid #273529;
  font-size: 15px;
  background-color: #273529;
  color: #fff;
  margin-top: 25px;
  transition: all .2s ease-in-out;
}

.justify-content-center {
  text-align: center;
}


.card {
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
}

/* On mouse-over, add a deeper shadow */
.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

/* Add some padding inside the card container */
.container {
  padding: 2px 16px;
}

.card
 {
 border: 1px solid black;
 height: 300px;
 margin: 25px 25px 25px 25px;
 width: 180px;
 float: left;
 background-color: white;

 border-radius: 10px; 

 
 }

.cardImage {
  height: "500px";
  width:"100%"; 
  padding: "8px"; 
  border-bottom: "1px solid lightgray";
  object-fit:"cover"
}

 .right-container{
 
  margin-left: 100px;
  padding-left: 190px;
  display: flex; 
  flex-wrap: wrap;
  align-items: center;
 }

 .cardrow {
  background-color: #ededed;
  margin: auto;
  padding: 32px;
  border: 1px solid darkgray;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  
 }

.about-blurb {
  padding-top: 30px;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.about-blurb h4 {
  margin: 20px;
  font-size: 2em;
  font-style: bold;
}

 .about-div {
  width: 50%;
  font-size: 2em;
  margin: 40px auto;
 }